<div class="row sorting">
    <div class="col-sm-2">
        <div class="hovered-buttons">
            <a href="/entity/list?page={{ page }}&orderBy=user_name&order={{ order }}">
                <button class="btn btn-primary control-button">name &uarr;&darr;</button>
            </a>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="hovered-buttons">
            <a href="/entity/list?page={{ page }}&orderBy=email&order={{ order }}">
                <button class="btn btn-primary control-button">email &uarr;&darr;</button>
            </a>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="hovered-buttons">
            <a href="/entity/list?page={{ page }}&orderBy=text&order={{ order }}">
                <button class="btn btn-primary control-button">text &uarr;&darr;</button>
            </a>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="hovered-buttons">
            <a href="/entity/list?page={{ page }}&orderBy=status&order={{ order }}">
                <button class="btn btn-primary control-button">status &uarr;&darr;</button>
            </a>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>