<div id="{{ task.id.value }}" class="row task">
    <div class="col-sm-2 center">{{ task.userName }}</div>
    <div class="col-sm-3 center">{{ task.email }}</div>
    <div class="col-sm-5 text center">{{ task.text }}</div>
    <div class="col-sm-1 status center">{{ task.status }}</div>
    <div class="col-sm-1">
        {% if isAdmin %}
            <div class="modify-buttons">
                {% if task.status != constant('BeeJeeMVC\\Model\\Status::DONE') %}
                    <div class="hovered-buttons">
                        <a href="/task/edit/{{ task.id.value }}">
                            <button class="btn btn-primary control-button right-button">edit</button>
                        </a>
                    </div>
                    <div class="hovered-buttons">
                        <a href="/task/done/{{ task.id.value }}">
                            <button class="btn btn-primary control-button right-button">done</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
