<div id="{{ task.id }}" class="row task">
    <div class="col-sm-2">{{ task.userName }}</div>
    <div class="col-sm-3">{{ task.email }}</div>
    <div class="col-sm-5 text">{{ task.text }}</div>
    <div class="col-sm-1 status">{{ task.status }}</div>
    <div class="col-sm-1">
        {% if isAdmin %}
            <div class="buttons">
                {% if task.status != done %}
                    <div class="hovered-buttons">
                        <a href="/task/edit/{{ task.id }}">
                            <button class="btn btn-primary control-button right-button">edit</button>
                        </a>
                    </div>
                    <div class="hovered-buttons">
                        <a href="/task/done/{{ task.id }}">
                            <button class="btn btn-primary control-button right-button">done</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
